/* Override default styles of a browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

/* Body */
body {
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color:#e834eb;
    font-size: 1rem;
    position: relative;
    min-height: 100vh;
    }

/* Header */
.header {
    width: 100%; 
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #e834eb;
    letter-spacing: 0.125rem;
    margin-bottom: 3%;
    box-shadow: 0.125rem 0.125rem 0.313rem #58155a;
}

/* Logo image */
#logo-image {
    width: 10vw;
    height: 10vw;
    border-color: #d899da;
}

/* Text inside of header */
#header-text {
    font-size: 1rem;
}

/* 'Rules' button inside of header */
#ahref {
    text-decoration: none;
    margin-right: 1vw;
    background:white;
    padding: 0.625rem 1.25rem;
    color: #d899da;
    border-radius: 0.625rem;
    border-color: #d899da;
    letter-spacing: 0.125rem;
    box-shadow: 0.125rem 0.125rem #58155a;
    font-size: 1rem;
}

/* Buttons used to select game options */
.button-option {
    width: auto;
    height: auto;
    border-color: #e834eb;
    border-radius:10%;
    margin:0.5%;
    background-color: white;
}
/* General style of all buttons */
button {
    cursor: pointer;
}
/* Change color of buttones when hover over them */
.button-option:hover {
    background-color: #eca3d5;
}
/* Section of the buttons with game options */
.options{
    width: 50%;
    }

selection-section {
    background-color: white;
    border-color: #e834eb;
    color:#e834eb;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
/* Display score */
.score { 
    display: flex;
    gap: 30px;
    margin-top:20px;
    display: flex;
    align-items: center;
    margin-right: 7%;
}
/* Display username in score section */
.user {
    background:#d899da;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}
/* Display computer in score section */
  .computer {
    background: #a577a6;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
  }

  /* Style for section displaying selected choices" */
  .choice {
    gap: 30px;
    margin-top:20px;
    display: flex;
    align-items: center;
    }

    /* Player's choice */
    .result {
        margin-top: 10vw;
      }
    /* Button used to restart game */
    .restart-game  {
        background:white;
        padding: 10px 20px;
        color: #d899da;
        border-radius: 10px;
        border-color: #d899da;
        letter-spacing: 2px;
        box-shadow: 2px 2px #58155a;
      }
      /* Sections explaining rules of the game */
    .rules{
        letter-spacing: 2px; 
        display:flex;
        flex-direction: row;
        text-align: center;
        margin-top: 250px;
        margin-bottom: 200px;
      }

      #rules {
        margin-bottom: 20px;
       }

       /* Image of rules */
       .image-rules img{
        margin-bottom: 30px;
        width: 30vw;
        height:auto;
        }

        /* Footer */
        .footer {
            position: absolute;
            bottom: 0;
            margin-bottom: 0px;
            width: 100%;
            background-color: #e834eb;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
        
    /* Media queries for screen of width: 375px and of 667px height */
    @media only screen  and (device-width: 375px) 
                        and (device-height: 667px) {
                            /* Header */
                            .header {
                                flex-direction: row;
                                height: 17vw !important;
                            }
                            /* Restart button */
                            #restartButton{
                                margin-left: 30px;
                                text-wrap: nowrap;
                            }
                                
                                    
                            #ahref {
                            margin-left: 10px;
                            }
                        }

    /* Media queries for screen of width: 390px and of 884px height */
    @media only screen and (device-width: 390px) and (device-height: 844px) {
            /* Body */
            .body {
                font-size: 1rem !important;
            }
            /* Header */
            .header {
                flex-direction: row;
                height: 17vw !important;
            }
            #ahref {
                margin-left: 10px;
                padding: auto;
                color: #d899da;
                letter-spacing: 1px;
            }
            /* Restart button */
            #restartButton{
                margin-left: 30px;
                text-wrap: nowrap;
            }
    }
    /* Media queries for screen of width: 360px and of 740px height */
    @media only screen and (device-width: 360px) and (device-height: 740px) {
        /* Header */
        .header {
            flex-direction: row;
            height: 19vw !important;
        }
        #ahref {
            margin-left: 10px !important;
            padding: auto !important;
            color: #d899da;
            letter-spacing: 1px !important;
       }
        #restartButton{
            margin-left: 30px;
            text-wrap: nowrap;
       }
    }
    /* Media queries for screen max-width: 600px */
    @media screen and (max-width: 600px){
        .rules{
            letter-spacing: 2px;
            margin-bottom: 40px;
            display:flex;
            flex-direction: column;
            width: 30%;
        }
        .image-rules img{
            margin: auto;
            width: 50vw;
            height:auto;
         }
        .header {
            flex-direction: row;
            height: 14vw;
        }
        #logo-image {
            display: none;
         }
        #header-text {
            display: none;
         }
        #restartButton {  
            margin-left: 60px;
            background-color: white;
            color:#e834eb
         }
        #ahref{
            margin-right: 80px;
            background-color: white;
            color:#e834eb
         }
        #timer{
            margin-bottom: 5%;
         }
        #gameCounter{
            margin-bottom: 20px;
         }
        .selection-section{
            margin-bottom:5%;
            flex-direction: column;
            align-items: center;
         }
        .button-option {
            width: 40%;
            height: auto;
            border-color: #e834eb;
            border-radius:10%;
            margin:0.5%;
            background-color: white;     
        }
        .score {
            flex-direction: column;
            align-items: center;
        }
        .choice {
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;           
        }
        #rules{
            text-decoration: underline;
      }
      .image-rules{
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            width: 30vw;
        }
  }
  /* Media queries for screen max-width: 768px */
  @media (max-width: 768px) {
        #logo-image {
            display: none;
        }
        #header-text {
            display: none;
        }
        #restartButton {  
            margin-left: 60px;
            background-color: white;
            color:#e834eb
        }
        #ahref{
            margin-right: 80px;
            background-color: white;
            color:#e834eb
        }
    }
  
  
  
  


    

    
    
      
