/* Override default styles of a browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

/* Body */
body {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color:#e834eb;
    font-size: 1rem;
    position: relative;
    min-height: 100vh;
    }

/* Header */
.header {
    width: 100%; 
    height: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #e834eb;
    letter-spacing: 0.125rem;
    margin-bottom: 3%;
    box-shadow: 0.125rem 0.125rem 0.313rem #58155a;
}

/* Styles for logo image */
#logo-image {
    width: 10vw;
    height: 10vw;
    border-color: #d899da;
}

/* Style for text inside of header */
#header-text {
    font-size: 1rem;
}

/* Styles to Rules button inside of header */
#ahref {
    text-decoration: none;
    margin-right: 1vw;
    background:white;
    padding: 0.625rem 1.25rem;
    color: #d899da;
    border-radius: 0.625rem;
    border-color: #d899da;
    letter-spacing: 0.125rem;
    box-shadow: 0.125rem 0.125rem #58155a;
    font-size: 1rem;
}




    
    
    /* image  */
    .image {
        width: 6vw;
        height: 6vw;
        margin: 1vw;
    
    }
    
    /* button option */
    .button-option {
        width: auto;
        height: auto;
        border-color: #e834eb;
        border-radius:10%;
        margin:0.5%;
    }
    /* button */
    button {
        cursor: pointer;
    
      }